@if (loading()) {

  <p>
    Зареждане на ресурса...
  </p>

} @else if (unauthorized()) {

  <section
    class="viewer-state"
    aria-labelledby="viewer-unauthorized-title"
  >
    <div
      class="viewer-state__visual"
      aria-hidden="true"
    >
      401
    </div>

    <h1
      id="viewer-unauthorized-title"
      class="viewer-state__title"
    >
      Необходим е вход
    </h1>

    <p class="viewer-state__description">
      Влезте в профила си, за да отворите този ресурс.
      След успешен вход ще се върнете към прегледа.
    </p>

    <div class="viewer-state__actions">
      <sl-button
        class="viewer-state__button"
        (click)="goToLogin()"
      >
        Вход в профила
      </sl-button>

      <button
        type="button"
        class="viewer-state__secondary"
        (click)="goBack()"
      >
        Назад към ресурса
      </button>
    </div>
  </section>

} @else if (notFound()) {

  <section
    class="viewer-state"
    aria-labelledby="viewer-not-found-title"
  >
    <div
      class="viewer-state__visual"
      aria-hidden="true"
    >
      404
    </div>

    <h1
      id="viewer-not-found-title"
      class="viewer-state__title"
    >
      Страницата не е намерена
    </h1>

    <p class="viewer-state__description">
      Адресът може да е променен, страницата да е премахната
      или връзката да е неправилна.
    </p>

    <div class="viewer-state__actions">
      <sl-button
        (click)="goHome()"
      >
        Към началната страница
      </sl-button>

      <button
        type="button"
        class="viewer-state__secondary"
        (click)="goToCatalog()"
      >
        Отвори каталога
      </button>
    </div>
  </section>

} @else if (error()) {

  } @else if (error()) {

  <section
    class="viewer-state"
    aria-labelledby="viewer-error-title"
  >
    <div
      class="viewer-state__visual"
      aria-hidden="true"
    >
      !
    </div>

    <h1
      id="viewer-error-title"
      class="viewer-state__title"
    >
      Възникна грешка
    </h1>

    <p class="viewer-state__description">
      {{ error() }}
    </p>

    <div class="viewer-state__actions">

      <sl-button
        (click)="retry()"
      >
        Опитай отново
      </sl-button>

      <button
        type="button"
        class="viewer-state__secondary"
        (click)="goToCatalog()"
      >
        Отвори каталога
      </button>

    </div>
  </section>

} @else if (resource(); as item) {

  <button
    type="button"
    (click)="goBack()"
  >
    Назад
  </button>

  <h1>
    {{ item.title }}
  </h1>

  @if (resourceUrl()) {

    @switch (item.type) {

      @case (ResourceType.PdfDocument) {
        <sl-pdf-viewer
          [url]="resourceUrl()!"
          [title]="item.title"
        />
      }

      @case (ResourceType.Video) {
        <sl-video-viewer
          [url]="resourceUrl()!"
          [title]="item.title"
        />
      }

      @case (ResourceType.ExternalLink) {
        <sl-external-link-viewer
          [url]="resourceUrl()!"
          [title]="item.title"
        />
      }

      @default {
        <sl-generic-viewer
          [url]="resourceUrl()!"
          [title]="item.title"
          [typeLabel]="getResourceTypeLabel(item.type)"
        />
      }
    }

  }

}