@use './styles/tokens';
@use './styles/reset';
@use './styles/typography';
@use './styles/utilities';
@use './styles/themes/light';
@use './styles/themes/dark';

html {
  background: var(--sl-color-background);
}

body {
  background: var(--sl-color-background);
  color: var(--sl-color-text-primary);
}